{% extends "_base.njk" %}

{% block content %}

<div class="primary-content">
  <div class ="banner">
    <h2>~&nbsp&nbsp&nbspFuture Plans&nbsp&nbsp&nbsp~</h2>
  </div>
  <div class="future_text">
    <p>We're just getting started! Here is a place for us to keep a running list of the things we want to do together, no matter how random or crazy - then we can add them to the scrapbook! (But let's please be better about taking pics, because it's hard to make a scrapbook with how few pics we take together!). I know I  couldn't think of everything we've ever talked about doing, so feel free to add things you remember.</p>
  </div>
    <div class="tag-portal">
      <div class="icon">
        <a href="/food">
          <img class="thumbnail" src="/assets/images/vegan_food.jpg">
          <div class="label"><h3>Food to Try</h3></div>
        </a>
      </div>
      <div class="icon">
        <a href="/explore">
          <img class="thumbnail" src="/assets/images/philly_skyline.jpg">
          <div class="label"><h3>Places to Go</h3></div>
        </a>
      </div>
      <div class="icon">
        <a href="/projects">
          <img class="thumbnail" src="/assets/images/projects.jpg">
          <div class="label"><h3>Projects to Do</h3></div>
        </a>
      </div>
    </div>
</div>

{% endblock %}
